.footer {
    text-align: center;
}

.footer .icons {
    padding: 3rem 0;
}

.footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: var(--violet);
    border: .2rem solid #C63BFA;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;
}

.footer .icons a:hover {
    color: #fff;
    background: #FF046F;
    border-color: #FF046F;
}

.footer .credit {
    font-size: 1rem;
    border-top: .1rem solid #999;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #666;
    width: 90%;
    padding: 1rem 0;
}

.footer .credit span {
    color: #FF046F;
}