<header>
    <a href="#" class="logo"><i class="fas fa-graduation-cap"></i>software Academy</a>
    <nav class="navbar">
        <ul>
            <li><a href="#home" class="active">home</a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#teacher">Profesores</a></li>
            <li><a href="#course">cursos</a></li>
            <li><a href="#review">Estudiantes</a></li>
            <li><a href="#contact">contacto</a></li>
        </ul>
    </nav>
    <div class="fas fa-bars"></div>
</header>