h3 {
    font-size: 2rem;
    color: #FF046F;
}

p {
    font-size: 1.6rem;
    color: #999;
    padding: 1rem 0;
}

.heading {
    font-size: 3rem;
    color: #FF046F;
    text-align: center;
    padding: 0 1rem;
    padding-top: 1rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #aaa;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .image img {
    height: 50vh;
    width: 100%;
    margin-right: 10%;
}

.about .row .content {
    padding-left: 5rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #FF046F;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #999;
    padding: 1rem 0;
}

.about .row .content button {
    height: 3.5rem;
    width: 17rem;
    background: #C63BFA;
    color: #fff;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.about .row .content button:hover {
    letter-spacing: .2rem;
    opacity: .8;
}