<section id="teacher" class="teacher">
    <h1 class="heading">Profesores </h1>
    <div class="card-container">
        <div class="card">
            <img src="./assets/img/pic1.jpg" alt="" />
            <h3>Nairobi Nivar</h3>
            <p>Ingeniera de Sistemas</p>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>

        <div class="card">
            <img src="./assets/img/pic2.jpg" alt="" />
            <h3>Andreina Peguero</h3>
            <p>Ingeniera de Software</p>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>
        <div class="card">
            <img src="./assets/img/pic3.jpg" alt="" />
            <h3>Nairobi Nivar</h3>
            <p>Ingeniera de Sistemas</p>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>

        <div class="card">
            <img src="./assets/img/pic4.jpg" alt="" />
            <h3>Andreina Peguero</h3>
            <p>Ingeniera de Software</p>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>
    </div>
</section>