<app-navbar> </app-navbar>
<section class="home" id="home">
    <div class="content">
        <h1 class="text-center">Aprende desde casa</h1>

    </div>

    <div class="box-container">
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <h3>Cursos mas Comprados</h3>
        </div>

        <div class="box">
            <i class="fas fa-fire"></i>
            <h3>Prueba Gratis</h3>
        </div>

        <div class="box">
            <i class="fas fa-award"></i>
            <h3>certificaciones</h3>
        </div>
    </div>
</section>
<app-nosotros></app-nosotros>
<app-profesores></app-profesores>
<app-cursos></app-cursos>
<app-estudiantes></app-estudiantes>
<app-footer></app-footer>