<section id="course" class="course">
    <h1 class="heading">Cursos Disponibles</h1>
    <h3 class="title"></h3>
    <div class="box-container">
        <div class="box">
            <i class="fab fa-html5"></i>
            <h3>html5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-css3-alt"></i>
            <h3>css3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3>javascript</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fas fa-code"></i>
            <h3>Diseño Web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3> marketing Digital</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fas fa-paint-brush"></i>
            <h3>Diseño Grafico</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
    </div>
</section>